<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel="stylesheet" href="../partial/background.css">
=======
    <link type="text/css" rel="stylesheet" href="../partial/background.css">
>>>>>>> e588f50c5b95e5d4af6a8ba06af5d1fb73e58b30
    <title>Price Comparisor</title>
    <link rel = "icon" href = "../images/logo4.png" type = "image/x-icon">
    <script>
        document.getElementById("linkbtn").submit();
    </script>

</head>

<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="context">
        <h1>Price Comparisor</h1>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <form class="example" action="/search" method="POST">
            <div class="input">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <br>
        <div class="popular">
            <p>
                <span style="color: #472183;font-weight: 800;">Popular : </span>
            <form class="example" action="/search" method="POST" style="display: inline-block;">
                <input type="hidden" name="search" value="fire bolt watches" style="cursor:pointer;"/>
                <button type="submit" style="background:none;box-shadow:none;border:none;width:auto;color:#82C3EC;cursor:pointer;" class="linkbtn">Fire
                    Bolt Watches
                </button>
            </form>
            <form class="example" action="/search" method="POST" style="display: inline-block;">
                <input type="hidden" name="search" value="Slippers" style="cursor:pointer;"/>
                <button type="submit" style="background:none;box-shadow:none;border:none;width:auto;color:#82C3EC;cursor:pointer;" class="linkbtn">Slippers
                </button>
            </form>
            <form class="example" action="/search" method="POST" style="display: inline-block;">
                <input type="hidden" name="search" value="One plus Phone" style="cursor:pointer;"/>
                <button type="submit" style="background:none;box-shadow:none;border:none;width:auto;color:#82C3EC;cursor:pointer;" class="linkbtn">One plus Phone
                </button>
            </form>
            <form class="example" action="/search" method="POST" style="display: inline-block;">
                <input type="hidden" name="search" value="Bluetooth Headset" style="cursor:pointer;"/>
                <button type="submit" style="background:none;box-shadow:none;border:none;width:auto;color:#82C3EC;cursor:pointer;" class="linkbtn">Bluetooth Headset
                </button>
            </form>
            </p>
        </div>
        <div class="products">
            <div class="flipkart">
                <div class="product flipkartimg">
                    <a href="https://www.flipkart.com/search?q=smart%20watch&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
                        class="productlink">
                        <img src="../images/smartwatches.png"
                            alt="" class="logo">
                        <p>
                            <a href="https://www.flipkart.com/search?q=smart%20watches&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" style="text-decoration: none;color:#82C3EC">
                            Smart Watches
                            </a>
                        </p>
                    </a>
                </div>
                <div class="product">
                    <a href="https://www.flipkart.com/search?q=laptops&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
                        class="productlink">
                        <img src="../images/laptop.png" alt="" class="productimg">
                        <p>
                            <a href="https://www.flipkart.com/search?q=laptop%20under%2040000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" style="text-decoration: none;color:#82C3EC">
                            Under 40,000 Rs
                            </a>
                        </p>
                    </a>
                </div>
                <div class="product">
                    <a href="https://www.flipkart.com/search?q=mobile+phone+5g&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_7_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_7_na_na_na&as-pos=2&as-type=RECENT&suggestionId=mobile+phone+5g%7CMobiles&requestId=86b4f3bc-304b-4828-8931-4b255de465fb&as-backfill=on"
                        class="productlink">
                        <img src="../images/iphone.png"
                            alt="" class="productimg">
                        <p>
                            <a href="https://www.amazon.in/s?k=mobile+phones&crid=3RRMBHTPQW58G&sprefix=mobile+phones%2Caps%2C304&ref=nb_sb_noss_1" style="text-decoration: none;color:#82C3EC">
                            Mobile Phones
                            </a>
                        </p>
                    </a>
                </div>
                <div class="product">
                    <a href="https://www.flipkart.com/search?q=headset&sid=0pm%2Cfcn%2Cgc3%2Cka8&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_7_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_7_na_na_ps&as-pos=3&as-type=RECENT&suggestionId=headset%7CWireless+Headphones&requestId=66ca092e-3e48-4330-a99a-402aa70ade4a&as-backfill=on"
                        class="productlink">
                        <img src="../images/headphones.png"
                            alt="" class="productimg">
                        <p>
                            <a href="https://www.amazon.in/s?k=electronic+gadgets&sprefix=electr%2Caps%2C251&ref=nb_sb_ss_ts-doa-p_1_6" style="text-decoration: none;color:#82C3EC">
                            Electronic Items
                            </a>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
